@model BoardGamesShopMVC.Application.ViewModels.Category.ListCategoryForListVm

@{
    ViewData["Title"] = "Index";
}

<h2>Categories</h2>

<div class="row pb-3">
    <div class="col">
        <a class="btn btn-success" asp-controller="Category" asp-action="AddCategory">Create</a>
    </div>
</div>
<form asp-action="Index" asp-controller="Category" method="post">
    <div class="row">
        <div class="col-3">
            <input asp-for="SearchString" class="form-control" type="search" placeholder="Search" name="searchString" id="searchString" />
        </div>
        <div class="col-3 p-0">
            <button class="btn btn-warning" type="submit">Search</button>
        </div>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="10" />
    </div>
</form>
<div class="row">
    <table class="table table-bordered table-striped mt-3">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Board games
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BoardGamesCount)
                    </td>
                    <td>
                        <a asp-action="EditCategory" class="btn btn-warning" asp-route-id="@item.Id">Edit</a>
                        <a asp-controller="BoardGame" asp-action="BoardGames" class="btn btn-primary" asp-route-filter ="Category" asp-route-filterObjectId="@item.Id">Board games</a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" asp-route-boardGamesCount="@item.BoardGamesCount">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <ul class="pagination">
        @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
        {
            <li>
                @if (i != Model.CurrentPage)
                {
                    <a href="javascript:PagerClick(@i)">@i</a>
                }
                else
                {
                    <span>@i</span>
                }
            </li>
        }
    </ul>
</div>
@section Scripts{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}