@model BoardGamesShopMVC.Application.ViewModels.Cart.CartSummaryVm;

<form asp-controller="Order" asp-action="CreateOrder" method="post">
    <input asp-for="Id" type="hidden"/>
    <input asp-for="TotalAmount" type="hidden"/>
    @{
        for (int i = 0; i < Model.CartItems.Count; i++)
        {
            <input asp-for="@Model.CartItems[i].Id" type="hidden"/>
            <input asp-for="@Model.CartItems[i].Name" type="hidden"/>
            <input asp-for="@Model.CartItems[i].ImageUrl" type="hidden"/>
            <input asp-for="@Model.CartItems[i].Price" type="hidden"/>
            <input asp-for="@Model.CartItems[i].Quantity" type="hidden"/>
            <input asp-for="@Model.CartItems[i].Total" type="hidden"/>
            <input asp-for="@Model.CartItems[i].BoardGameId" type="hidden"/>
        }
    }
    <br/>
    <div class="container">
        <div class="card">
            <div class="card-header ml-0 header-color">
                <div class=" row container">
                    <div class="col-6">
                        Order Summary
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Shipping Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Email:</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="@Model.ApplicationUserVm.Email" class="form-control"/>
                                    <span asp-validation-for="@Model.ApplicationUserVm.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Phone number:</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="@Model.ApplicationUserVm.PhoneNumber" class="form-control"/>
                                    <span asp-validation-for="@Model.ApplicationUserVm.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>First name:</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="@Model.ApplicationUserVm.FirstName" class="form-control"/>
                                    <span asp-validation-for="@Model.ApplicationUserVm.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Last name:</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="@Model.ApplicationUserVm.LastName" class="form-control"/>
                                    <span asp-validation-for="@Model.ApplicationUserVm.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>City:</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="@Model.ApplicationUserVm.City" class="form-control"/>
                                    <span asp-validation-for="@Model.ApplicationUserVm.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Street:</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="@Model.ApplicationUserVm.Street" class="form-control"/>
                                    <span asp-validation-for="@Model.ApplicationUserVm.Street" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Building number:</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="@Model.ApplicationUserVm.BuildingNumber" class="form-control"/>
                                    <span asp-validation-for="@Model.ApplicationUserVm.BuildingNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Flat number:</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="@Model.ApplicationUserVm.FlatNumber" class="form-control"/>
                                    <span asp-validation-for="@Model.ApplicationUserVm.FlatNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>ZIP code:</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="@Model.ApplicationUserVm.ZipCode" class="form-control"/>
                                    <span asp-validation-for="@Model.ApplicationUserVm.ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Order Summary:</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var cartItem in Model.CartItems)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0">@cartItem.Name</h6>
                                            <small class="text-muted">Quantity: @cartItem.Quantity</small>
                                        </div>
                                        <span class="text-muted">@cartItem.Total.ToString("c")) </span>
                                    </li>
                                }
                                <li class="list-group-item d-flex justify-content-between header-color">
                                    <small >Total (PLN)</small>
                                    <strong>@Model.TotalAmount.ToString("c")</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-8 pt-2">
                        <p style="color: maroon; font-size: 14px;">
                            Estimate Arrival Date:
                            @DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString()
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="w-100 btn-group" role="group">
                            <button type="submit" class="btn btn-success form-control">Place Order</button> &nbsp;
                            <a asp-action="ViewCart" asp-controller="Cart" class="btn btn-secondary form-control">Back to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>