@model BoardGamesShopMVC.Application.ViewModels.Cart.CartDetailsVm

@{
    ViewData["Title"] = "ViewCart";
}

<h1>ViewCart</h1>

<div>
    <h4>CartDetailsVm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
    </dl>
</div>
<div class="row">

    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Image
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        <img height="120" src="@item.ImageUrl"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.ActionLink("+", "Plus", "Cart", new {  cartId = @Model.Id, cartItemId = item.Id} ,new { @class = "btn btn-primary" })
                        @Html.ActionLink("-", "Minus", "Cart", new {  cartId = @Model.Id, cartItemId = item.Id} ,new { @class = "btn btn-warning" })
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditBoardGame", new { id=item.Id }) |
                        @Html.ActionLink("Details", "ViewBoardGame", new { boardGameId=item.Id}) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
